anyio==3.5.0
contextlib2==21.6.0
contextvars==2.4
fastapi==0.75.0
idna==3.3
immutables==0.17
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1
pymongo==3.12.3
python-dotenv==0.20.0
uvicorn==0.17.0
bcrypt==3.2.0 
passlib==1.7.4
python-jose==3.3.0
email-validator==1.1.3